/* Background */
body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#ff4d6d,#ffb703,#3a86ff);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Calculator Box */
.calculator{
    background:white;
    width:350px;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}